doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name='description' content="This is a Ecommerce Website for Online Shopping of Vegetables, Grocerries and Fruits created by three B-Tech Students of SGGS Nanded.")
        
        link(rel='icon' href='../static/images/home/favicon.ico' type='image/x-icon')
        link(href='https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')

        script(src="../static/javascript/maintenance.js" defer) 
        link(rel="stylesheet", href="../static/css/construction.css")

        title Work Under Construction | MyOnlinMeals By Foodies
    body 
        nav#navbar
            #logo
              img(src='../static/images/logos/logos.jpg' alt='MyOnlineMeal.com')
            ul
              li.item
                a(href='/home') Home
              li.item
                a(href='/home#services-container') Services
              li.item
                a(href='/home#contact') Contact Us
              li.item
                a(href='/signup') Sign up
        
        section#fluid-container
            .container 
                h1 Maintenance Area
                p This page is under construction at the moment. Please visit after sometime.
                button.btn.btn-danger(type="submit") Click Here to get notified when the work is completed.
