/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#navbar::before {
    content: "";
    background-color: rgb(219, 15, 15);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    margin-bottom: 0;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(219, 15, 15);
    background-color: white;
}

/* Fluid Container */

#fluid-container {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#fluid-container::before {
    content: "";
    position: absolute;
    background: url('../images/home/bg3.jpg') no-repeat center center/cover;
    height: calc(90vh + 85px);
    top: 0;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

.container {
    font-family: 'Bree Serif', sans-serif;
    color: white;
    transform: translateY(-3rem);
}

.container h1 {
    font-size: 4rem;
}

.container p {
    font-size: 1.5rem;
}

@media screen and (max-width:1200px) {

    /* Navigation */
    #navbar {
        flex-direction: column;
    }

    #navbar ul {
        margin: 0;
        padding: 0;
    }

    #navbar ul li a {
        font-size: 1rem;
        padding: 0px 7px;
        padding-bottom: 8px;
    }

    #fluid-container {
        height: 90vh;
    }

    #fluid-container::before {
        height: calc(100vh + 85px);
    }

    .container {
        background: rgba(0, 0, 0, 0.3);
        padding: 2rem 1rem;
        border-radius: 0.5rem;
    }

    .container h1 {
        font-size: 3rem;
    }

    .container p {
        font-size: 1rem;
    }
}